
@import "theme_colors";
@import "colors";


$font-family-base: Lato;
$headings-font-family: Poppins;
$headings-font-weight: 700;

$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: 0;

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: white;
$dropdown-border-radius: 0;
$navbar-light-hover-color: $primary;


$top-margin: 76px;

$dropdown-link-color: $gray-700;

