{% extends "BASE.html" %}
{% load static %}

{% block content %}
<section class="pages-banner spacial-banner-background">
        <div class="container">
            <div class="row">
                <div class="my-4 col-md-12 d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static '/images/illustrations/undraw_visual_data_b1wx.svg' %}" class="img-fluid" alt="APP-DEVELOPMENT-IMAGE">
                </div>
            </div>
        </div>
    </section>

    <section class="text-section">
        <div class="container">
            <div class="row text-justify">
                <div class="col-md-12">
                    <h1 style="text-align: center;" class="text-primary">J. M. DIGITAL MARKETING SERVICES</h1>
                    <h3 style="text-align: center;">Specialists in Digital Marketing | SEO | Social Media | Web &amp; App Development</h3>
                    <p>J. M. Digital Marketing Services founded in 2011 was created to provide solutions for the ever-changing, highly dynamic, continuously evolving, SEO environment. The need of the hour was to provide support for this constantly changing scenario and to keep pace with it. Our clients have come to rely on us to raise and then maintain their ranking for relevant key phrases in the face of competitive strategies and attempts to reverse their current status. We have constantly adopted newer and better strategies to stay in tune with the Internet as it evolves, at the same time ensuring that our client's goals are met.</p>
                    <p>Our process is to first create an appropriate web presence through a website, funnel, or an eCommerce platform, then to drive online traffic to that web url, and finally to convert that traffic into customers. This is done using current and effective technology that is in sync with recommended industry practices, labeled as white hat techniques. We have expertise in driving traffic through organic and paid search engine platforms as well as social media networks, like Facebook, Instagram, YouTube, etc.</p>
                    <p>We determine your goals through 1-on-1 consultations, and then develop a suitable digital marketing strategy that covers all your needs and potentially helps you arrive at the results you are hoping to achieve. Our packages are tailor-made to suit every budget with the sole purpose of making them self-paying by meeting business objectives.</p>
                    <div class="image d-flex flex-column align-items-center">
                        <img style="max-width: 400px;" src="{% static '/images/illustrations/undraw_interaction_design_odgc.svg' %}" class="my-4 img-fluid" alt="Services">
                    </div>
                    <h2 style="text-align: center;">Our Services</h2>
                    <p>We are a full-fledged digital marketing service agency with a plethora of services that include, but are not restricted to the following:&nbsp;</p>
                    <ul>
                        <li><i class="fas fa-desktop"></i>Web design and development</li>
                        <li><i class="fab fa-pied-piper"></i>Logo and graphic design</li>
                        <li><i class="fas fa-search-location"></i>Search Engine Optimization</li>
                        <li><i class="fas fa-photo-video"></i>Social Media Marketing</li>
                        <li><i class="fas fa-funnel-dollar"></i>Organic and paid Internet marketing campaigns</li>
                        <li><i class="fas fa-mobile-alt"></i>Mobile app development</li>
                        <li><i class="fas fa-share-alt"></i>Digital marketing</li>
                        <li><i class="fas fa-globe-americas"></i>Local SEO</li>
                    </ul>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}