{% extends "BASE.html" %}
{% load static %}

{% block content %}
    <section class="pages-banner spacial-banner-background">
        <div class="container">
            <div class="row">
                <div
                        class="d-sm-block my-4 d-md-none col-md-5 text-center">
                    <img src="{% static '/images/illustrations/undraw_Mobile_application_mr4r.svg' %}" class="img-fluid"
                         alt="APP-DEVELOPMENT-IMAGE">
                </div>
                <div class="col-md-7 d-sm-block d-md-flex flex-column justify-content-center align-items-baseline half-screen-height-min">
                    <h1 class="title">APP DEVELOPMENT</h1>
                    <h2 class="subtitle">MOBILE APP DESIGN AND DEVELOPMENT</h2>
                    <a href="#Contact" class="btn btn-lg btn-primary">START NOW</a>
                </div>
                <div class="d-none col-md-5 d-sm-none d-md-flex half-screen-height-min d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static '/images/illustrations/undraw_Mobile_application_mr4r.svg' %}" class="img-fluid"
                         alt="APP-DEVELOPMENT-IMAGE">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-bottom-banner-belt">
                        <h1 class="text">
                            Scale your business with the help of powerful native mobile applications (IOS and Android)
                            built by our experienced app developers and designed to meet all your requirements.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small-details-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="seo-image img-responsive">
                        <img src="{% static 'images/illustrations/user-interface.svg' %}" class="img-fluid"
                             alt="SEOIcon">
                    </div>
                </div>
                <div class="col-md-9 d-flex justify-content-center flex-column align-items-baseline">
                    <h3>ANDROID AND IOS APP DEVELOPMENT</h3>
                    <p>Our programmers are highly skilled in the design and creation of mobile applications and have
                        built over 100 successful apps for various categories and business platforms. We have the
                        expertise to take your ideas and convert them into robust applications that are seamless, secure
                        and provide a great user experience</p>
                    <a href="#redBar" class="btn btn-primary btn-lg">GET A FREE CONSULTATION</a>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content-name d-flex flex-row">
                        <img src="{% static 'images/illustrations/android.svg' %}" width="100px" class="mb-2 img-fluid"
                             alt="Android App">
                        <h2>Android App <br>Development</h2>
                    </div>
                    <p class="ps-2 text-justify">Our android app development company is well-equipped with experienced
                        android developers; a team riding high on innovation and creativity. We are inclined towards
                        delivering the best android app development services and support via our professional, hands-on
                        and friendly team.</p>
                </div>
                <div class="col-md-4">
                    <div class="content-name d-flex flex-row">
                        <img src="{% static 'images/illustrations/iphone-5.svg' %}" width="100px" class="mb-2 img-fluid"
                             alt="iOS App">
                        <h2>iOS App <br>Development</h2>
                    </div>
                    <p class="ps-2 text-justify">Working with a number of brands on a vast range of projects, we are
                        extremely proud to be an iOS development partner for businesses with an award for our
                        best mobile app design. Whether you are looking to create iOS applications for
                        business, entertainment or news.</p>
                </div>
                <div class="col-md-4">
                    <div class="content-name d-flex flex-row">
                        <img src="{% static 'images/illustrations/mobile-web.svg' %}" width="100px"
                             class="mb-2 img-fluid" alt="Mobile App UI/UX">
                        <h2>Mobile App <br>UI/UX Designing</h2>
                    </div>
                    <p class="ps-2 text-justify">We help you craft valuable digital products. We are both
                        UI & UX design studio, product and service design studio, helping our clients innovate, design
                        and build beautiful digital products and experiences for their users.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}