{% extends "BASE.html" %}
{% block content %}
<section class="blog-list-section">
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                <div class="col col-md-8 my-4">
                    <div class="row">
                        <div class="col-md-4 img-responsive">
                            <img src="{{ blog.image_url }}" class="img-fluid" alt="{{ blog.slug }}-image">
                        </div>
                        <div class="col-md-8">
                            <h3><a href="{{ blog.get_absolute_url }}" class="text-decoration-none">{{ blog.title }}</a></h3>
                            <p>{{ blog.sub_title }}</p>
                            <p class="text-muted">{{ blog.created }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
