{% extends "BASE.html" %}
{% block content %}
<section class="blog-list-section">
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                <div class="col col-md-8 my-4">
                    <div class="row">
                        <div class="col-md-4 img-responsive">
                            <img src="{{ blog.image_url }}" class="img-fluid mb-2" alt="{{ blog.slug }}-image">
                        </div>
                        <div class="col-md-8 d-flex justify-content-between flex-column">
                            <p style="font-weight: 700; font-size: 1.8rem; font-family: Poppins, sans-serif; line-height: 1"><a href="{{ blog.get_absolute_url }}" class="text-decoration-none">{{ blog.title }}</a></p>
                            <p class="mb-0">{{ blog.sub_title }}</p>
                            <p class="text-muted mb-0">{{ blog.created }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
