{% extends "BASE.html" %}
{% load static %}

{% block content %}
    <section class="pages-banner spacial-banner-background">
        <div class="container">
            <div class="row">
                <div
                        class="d-sm-block my-4 d-md-none col-md-5 text-center">
                    <img src="{% static '/images/illustrations/undraw_Mobile_application_mr4r.svg' %}" class="img-fluid"
                         alt="APP-DEVELOPMENT-IMAGE">
                </div>
                <div class="col-md-7 d-sm-block d-md-flex flex-column justify-content-center align-items-baseline half-screen-height-min">
                    <h1 class="title">GRAPHIC DESIGN</h1>
                    <h2 class="subtitle">UI / UX DESIGN</h2>
                    <a href="#Contact" class="btn btn-lg btn-primary">START NOW</a>
                </div>
                <div class="d-none col-md-5 d-sm-none d-md-flex half-screen-height-min d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static '/images/illustrations/undraw_Mobile_application_mr4r.svg' %}" class="img-fluid"
                         alt="APP-DEVELOPMENT-IMAGE">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-bottom-banner-belt">
                        <h1 class="text">
                            We offer professional graphic design for websites, branding, and
                            print materials, that include logos, social media posts, banners, and flyers, with the sole
                            purpose of driving our client's success.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small-details-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="seo-image img-responsive">
                        <img src="{% static 'images/illustrations/sketch.svg' %}" class="img-fluid"
                             alt="SEOIcon">
                    </div>
                </div>
                <div class="col-md-9 d-flex justify-content-center flex-column align-items-baseline">
                    <h3>ANDROID AND IOS APP DEVELOPMENT</h3>
                    <p>Our programmers are highly skilled in the design and creation of mobile applications and have
                        built over 100 successful apps for various categories and business platforms. We have the
                        expertise to take your ideas and convert them into robust applications that are seamless, secure
                        and provide a great user experience</p>
                    <a href="#redBar" class="btn btn-primary btn-lg">GET A FREE CONSULTATION</a>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-name align-items-center d-flex flex-row mb-2">

                        <img src="{% static 'images/illustrations/vector.svg' %}" class="me-3 img-fluid" width="100px" alt="Planning">
                        <h2>GRAPHIC DESIGN</h2>
                    </div>

                    <p>Our creative graphic artists use innovative and intuitive processes into developing unique
                        designs that represent your brand and deliver the right message to your audience. Digital media
                        is your marketing asset and we ensure it gets you the desired results and helps with your
                        branding. Let our designers help take your brand to the next level.</p><hr>
                    <div class="content-name align-items-center d-flex flex-row mb-2">

                        <img src="{% static 'images/illustrations/dribbble.svg' %}" class="me-3 img-fluid" width="100px" alt="Planning">
                        <h2>LOGO DESIGN</h2>
                    </div>
                    <p>A logo is the doorway to your organization and should be simplistic, at the same time, appealing
                        to your audience. Our gifted graphic artists get a clear concept of your business and then go
                        about expressing it graphically into a perfect symbol that now represents your brand. We have
                        crafted logos across several industries for our satisfied clients and offer you the same service
                        with our stamp of guarantee.</p><hr>
                    <div class="content-name align-items-center d-flex flex-row mb-2">

                        <img src="{% static 'images/illustrations/brochure.svg' %}" class="me-3 img-fluid" width="100px" alt="Planning">
                        <h2>FLYER DESIGN</h2>
                    </div>
                    <p>Flyers, banners and brochures are sales tools that are notifications to your clients of the kinds
                        of opportunities your business is offering. It is a key strategy that can be delivered
                        physically and virtually with graphical representation that drives your message home. Our
                        talented team of designers gather all the information required and then fit it appropriately
                        ensuring optimal utilization of available space.</p><hr>
                    <div class="content-name align-items-center d-flex flex-row mb-2">

                        <img src="{% static 'images/illustrations/social-media-marketing.svg' %}" class="me-3 img-fluid" width="100px" alt="Planning">
                        <h2>SOCIAL MEDIA IMAGES</h2>
                    </div>
                    <p>Every successful business is totally reliant on social media to create brand awareness. With so
                        much information out there vying for attention, it is crucial for your media to stand out
                        and hook your audience into staying focused on your message. We excel at creating eye-catching
                        powerful images that cause your target audience to stop scrolling and pay attention to your
                        sales offer.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}