{% extends "BASE.html" %}
{% load static %}

{% block content %}
<section class="pages-banner spacial-banner-background">
        <div class="container">
            <div class="row">
                <div
                        class="d-sm-block my-4 d-md-none col-md-5 text-center">
                    <img src="{% static 'images/illustrations/undraw_social_dashboard_k3pt.svg' %}" class="img-fluid"
                         alt="SOCIAL-MEDIA-IMAGE">
                </div>
                <div class="col-md-7 d-sm-block d-md-flex flex-column justify-content-center align-items-baseline half-screen-height-min">
                    <h1 class="title">SOCIAL MEDIA MARKETING</h1>
                    <h2 class="subtitle">INTERNET MARKETING FOR BUSINESS</h2>
                    <a href="#redBar" class="btn btn-lg btn-primary">START NOW</a>
                </div>
                <div class="d-none col-md-5 d-sm-none d-md-flex half-screen-height-min d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/illustrations/undraw_social_dashboard_k3pt.svg' %}" class="img-fluid"
                         alt="SOCIAL-MEDIA-IMAGE">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-bottom-banner-belt">
                        <h1 class="text">
                            Achieve your Marketing and Business Goals through internet marketing by creating and sharing
                            content, and running ad campaigns on Social Media Networks
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small-details-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="seo-image img-responsive">
                        <img src="{% static 'images/illustrations/attraction.svg' %}" class="img-fluid" alt="ATTRACTION">
                    </div>
                </div>
                <div class="col-md-9 d-flex justify-content-center flex-column align-items-baseline">
                    <h3>BRAND AWARENESS USING EFFECTIVE SOCIAL MEDIA MARKETING</h3>
                    <p>Our top social media experts can help with a number of goals such as increasing website traffic,
                        building conversions, raising brand awareness, targeting key audiences, and building a brand
                        identity. As we help increase your custom audience we expand your reach by creating lookalike
                        audiences and then apply remarketing strategies to keep them continuously engaged.</p>
                    <a href="#redBar" class="btn btn-primary btn-lg">LET US SHOW YOU HOW</a>
                </div>
            </div>
        </div>
    </section>
    <section class="details-section my-5 py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-resposive">
                        <img src="{% static 'images/illustrations/social-med' %}ia.svg" class="img-fluid" alt="SOCIAL-MEDIA">
                    </div>

                    <h3>SOCIAL MEDIA <br>
                        MARKETING</h3>
                    <p class="text-justify">Content is key when it comes to social media marketing. It is essential to
                        post regularly and create engaging content so that your followers can receive great information
                        and also share this across their network. This becomes a powerful tool to project your brand
                        image as each social media network has their own unique environment where you can share your
                        core identity, build trust and finally gain a huge fan following. Once you build a loyal
                        following your readers are able to find new content immediately and your target audience will
                        receive great valuable information that can help them make guided decisions towards your
                        products and services.</p>
                </div>
                <div class="col-md-4">
                    <div class="img-resposive">
                        <img src="{% static 'images/illustrations/ads.svg' %}" class="img-fluid" alt="ADS">
                    </div>

                    <h3>PAID SOCIAL <br>
                        MEDIA CAMPAIGN</h3>
                    <p class="text-justify">Due to heavy competition for organic search results, paid social media
                        campaigns, can help you surpass your competition and get your brand in front of your target
                        audience. If done right this can be a highly cost-effective way to expand your reach. Most
                        social media platforms allow you to create a budget and work within it to achieve your goals of
                        driving traffic to your website. We use effective tools to create custom audiences from audience
                        insights that cover, demographics, age, gender and specific interests. Ad campaigns are designed
                        based on your goals of brand awareness, traffic, conversions etc.</p>
                </div>
                <div class="col-md-4">
                    <div class="img-resposive">
                        <img src="{% static 'images/illustrations/leadership.svg' %}" class="img-fluid" alt="LEADS">
                    </div>

                    <h3>GENERATING <br>
                        NEW LEADS</h3>
                    <p class="text-justify">Generating new leads is essential for every business and the first step is
                        driving traffic to your website funnel. From here the goal is to convert marketing qualified
                        leads to sales qualified leads and finally to paying customers. We achieve this through
                        remarketing on social media platforms by running effective ad campaigns. The ultimate
                        result of digital marketing is to generate revenue and make a business profitable through
                        consistent
                        increase in traffic and creating highly qualified leads. We have great expertise in running ads
                        on Google, Facebook, Instagram, YouTube etc. to achieve this purpose</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}