{% extends "BASE.html" %}
{% load static %}
{% block content %}
<section class="">
        <div class="container">
            <div class="row">
                <div class="mt-4 col-md-12 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-primary display-1" style="font-weight: 900">404 Not Found</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-section">
        <div class="container">
            <div class="row justify-content-center text-justify">
                <div class="col-md-12 d-flex flex-row justify-content-center">
                    <img src="{% static 'images/illustrations/undraw_donut_love_kau1.svg' %}" class="img-fluid" alt="404NotFound">
                </div>
            </div>
        </div>
    </section>
{% endblock %}