<form id="ContactForm" name="contact" method="POST" data-netlify="true">
    <div class="mb-3">
        <input placeholder="Email address" type="email" class="form-control"
               id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <input placeholder="Name" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <input placeholder="Phone" type="text" class="form-control" id="phone">
    </div>
    <div class="mb-3">
        <input placeholder="Website URL" type="text" class="form-control" id="website">
    </div>
    <label class="form-check-label mb-3" for="flexCheckDefault">
        When you click submit it is understood that you have accepted our <a
            href="{% url 'privacy' %}">Privacy Policy</a> and <a href="{% url 'term' %}">Terms
        & Condition</a>
    </label>
    <button id="submitButton" type="submit" class="float-end btn btn-primary">Submit</button>
</form>