{% extends "BASE.html" %}

{% block styles %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-4 mb-5">
                    <div class="mb-2 text-muted"><a class="text-decoration-none text-dark-secondary" href="{% url 'home' %}">Home</a> >
                        <a class="text-decoration-none text-dark-secondary" href="{{ blog.get_absolute_url }}"><b>{{ blog.slug }}</b></a></div>
                    <h1 class="text-primary display-2 py-3" style="font-family: 'Playfair Display', serif; font-weight: 900; line-height: 1em">{{ blog.title }}</h1>
                    {% if blog.quote %}<p class="small text-muted text-justify"><i><b>{{ blog.quote }}</b></i></p>{% endif %}
                    <img width="900" height="600" loading="lazy" src="{{ blog.image_url }}" class="img-fluid mb-4" alt="{{ blog.slug }}-image">
                    {% if blog.sub_title %}<h2>{{ blog.sub_title }}</h2>{% endif %}
                    <p class="text-muted">{{ blog.created }}</p>
                    <article>
                        {{ blog.body | safe | escape }}
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
