{% extends "BASE.html" %}
{% load static %}

{% block content %}
    <section class="pages-banner spacial-banner-background">
        <div class="container">
            <div class="row">
                <div
                        class="d-sm-block my-4 d-md-none col-md-5">
                    <img src="{% static 'images/illustrations/undraw_create_f05x.svg' %}" class="img-fluid" alt="SeoImage">
                </div>
                <div class="col-md-7 d-sm-block d-md-flex flex-column justify-content-center align-items-baseline half-screen-height-min">
                    <h1 class="title"><span>S</span>EARCH <span>E</span>NGINE <span>O</span>PTIMIZATION</h1>
                    <h2 class="subtitle">IMPROVE YOUR SEARCH ENGINE RANKING</h2>
                    <a href="#redBar" class="btn btn-lg btn-primary">START NOW</a>
                </div>
                <div class="d-none col-md-5 d-sm-none d-md-flex half-screen-height-min d-flex flex-column justify-content-center align-items-center">
                    <img src="{% static 'images/illustrations/undraw_create_f05x.svg' %}" class="img-fluid" alt="SeoImage">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pages-bottom-banner-belt">
                        <h1 class="text">
                            Increase your website visitor rate,
                            thereby generating high-quality leads per month, with the intention to push them to the
                            bottom of the funnel so they become, a sales-qualified lead.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small-details-section my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="seo-image img-responsive">
                        <img src="{% static 'images/illustrations/seo.svg' %}" class="img-fluid" alt="SEOIcon">
                    </div>
                </div>
                <div class="col-md-9 d-flex justify-content-center flex-column align-items-baseline">
                    <h3>SEO TORONTO (SEARCH ENGINE OPTIMIZATION)</h3>
                    <p>Our process starts with understanding your current environment and then determining where you
                        want to be. We perform an in-depth SEO audit and provide specific recommendations to improve
                        your rankings. We then propose a plan that is customised for your website towards achieving your
                        business goals. The first thing we do when auditing your website for SEO is to start collecting
                        data associated with your site to learn where you currently rank. We’ll review your Google
                        Analytics, traffic patterns and consult Google Webmaster Tools free diagnostic tools. We then
                        run a complete analysis of your website.</p>
                    <a href="#redBar" class="btn btn-primary btn-lg">GET A FREE SITE AUDIT</a>
                </div>
            </div>
        </div>
    </section>
    <section class="details-section my-5 py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-resposive">
                        <img src="{% static 'images/illustrations/competition.svg' %}" class="img-fluid" alt="COMPETITORS">
                    </div>

                    <h3>COMPETITOR <br>
                        ANALYSIS</h3>
                    <p class="text-justify">We help you understand your brand’s probability of profit in a given
                        industry and then borrow brilliant strategies to achieve your website’s objectives. Our process
                        starts with understanding your current environment and then
                        determining where you want to be. We perform an in-depth SEO audit and provide specific
                        recommendations to improve your rankings. We then propose a plan that is customised for your
                        website towards achieving your business goals. With the help of advanced tools we assess the
                        right competitors to target, understanding how to build a plan based on their marketing choices,
                        research trends to understand your place in the market</p>
                </div>
                <div class="col-md-4">
                    <div class="img-resposive">
                        <img src="{% static 'images/illustrations/keywords.svg' %}" class="img-fluid" alt="KEYWORDS">
                    </div>

                    <h3>KEYWORD <br>
                        RESEARCH</h3>
                    <p class="text-justify">Keyword research is the process of discovering key phrases related to your
                        business that users type in search engines. It is unable to write relevant content without
                        understanding what users are searching for and then targeting those keywords in your content.
                        This information is then matched by search engine algorithms and helps your site ranking for
                        those relevant keywords. Further it is not only about finding the words users are typing in to
                        find a business like yours, what is important is to figure out the intent that searchers have
                        when looking for a business. With keyword research we find what your audience is looking for and
                        match it with content.</p>
                </div>
                <div class="col-md-4">
                    <div class="img-responsive">
                        <img src="{% static 'images/illustrations/worldwide.svg' %}" class="img-fluid" alt="GEO-LOCATION">
                    </div>

                    <h3>LOCAL <br>
                        SEO</h3>
                    <p class="text-justify">Google’s algorithms helps you target localized organic results and searches
                        on Google Maps. We help you optimize Google Business to match geographic modifiers in a search
                        query helping you to show up in a map pack and within the radius for local search results.
                        Google search engine uses different algorithms to return localized search results and we
                        optimize our Local SEO strategy to target that specific algorithm. We help you rank high for
                        Google My Business, Local Links, Citations and Behavioral Signals. Your Google My Business
                        profile is your new home page and we optimize it for top ranking in your region. It's the first
                        impression you make with potential customers.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}